body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(./assets/bg.jpg);
}

.container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.search-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.search-box input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #555;
}
#nutritionInfo{
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}
#nutri-box{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#recipe {
    text-decoration: none;
    color: inherit;
  }
  
  .modern-link {
    display: inline-block;
    padding: 12px 24px;
    background-color: greenyellow; 
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .modern-link:hover {
    background-color: rgb(149, 231, 27); 
    transform: scale(1.05);
  }
